<%- include("../partials/header.ejs") %>

<h1>Details about the Prehistoric Creature: <%= id %>:</h1>

<h2>Type: </h2>

<p><%= prehistoric.type %></p>

<h2>Image:</h2>

<img src= "<%= prehistoric.img_url %>">

<%- include("../partials/footer.ejs") %>